* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  overflow-y: auto;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid grey;
  background-color: white;
  padding: 0 30px;
  position: fixed;
}

header #top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50%;
}

header #top .logo {
  display: flex;
  align-items: center;
}

header #top .logo img {
  margin-right: 5px;
}

header #top .logo span {
  color: #5f6368;
  opacity: 1;
  font-size: 20px;
}

header #top .account i {
  margin-right: 10px;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

header #top .account i:first-child {
  color: #5f6368;
  opacity: 1;
  background-color: rgba(231, 229, 229, 0.39);
}

header #top .account i:first-child:hover {
  background-color: rgb(231, 229, 229);
}

header #top .account i:last-child {
  background-color: #33691f;
  color: white;
}

header #top .account i:last-child:hover {
  background-color: #33691fe8;
}

header #bottom {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 50%;
}

header #bottom ul {
  list-style: none;
  height: 100%;
}

header #bottom ul li {
  display: inline-block;
  margin-right: 20px;
  height: 100%;
  line-height: 50px;
}

header #bottom ul li a {
  color: #5f6368;
  text-decoration: none;
}

header #bottom ul li a.active {
  color: #3367d6;
  border-bottom: 3px solid #3367d6;
  padding-bottom: 9%;
}

main {
  width: 100%;
  min-height: calc(100vh - 50px);
  padding: 200px 150px 0px 150px;
  background-color: white;
  line-height: 24px;
}

main #faqs {
  padding: 0px 65px;
  color: rgba(0, 0, 0, 0.87);
}

main #faqs .faq {
  margin-bottom: 60px;
}

main #faqs .faq h2 {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
}

main #faqs .faq p {
  font-size: 14px;
  font-weight: 400;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #f5f5f5;
  padding: 0px 215px;
  border-top: 1px solid #eee;
}

footer ul {
  list-style: none;
}

footer ul li {
  display: inline-block;
}

footer ul li a {
  text-decoration: none;
  color: rgba(61, 61, 61, 0.8);
  font-size: 11px;
}

footer i {
  color: #57c4fc;
}

footer select {
  width: 140px;
}
