* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  overflow-y: auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid grey;
  background-color: lightgray;
  padding: 0 30px;
  position: fixed;
}

header #top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50%;
  background-color: rgba(255, 0, 0, 0.397);
}

header #bottom {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 50%;
  background-color: rgba(4, 0, 255, 0.397);
}

header #bottom ul{
  list-style: none;
}

header #bottom ul li{
  display: inline-block;
}

main {
  width: 100%;
  min-height: calc(100vh - 50px);
  padding: 200px 150px 100px 150px;
  background-color: rgba(255, 0, 21, 0.349);
}

main #faqs .faq {
  margin-bottom: 40px;
}

main #faqs .faq h2{
  margin-bottom: 20px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: lightgray;
  padding: 0px 150px;
}

footer ul {
  list-style: none;
}

footer ul li{
  display: inline-block;
}